$c-primary: #d40511;
$c-secondary: #ffcc00;
$c-default: rgb(50, 49, 48);
.custom-styles {
 h2 {
   a {
     color: rgb(50, 49, 48);
     text-decoration: none;
     &:hover {
       color: $c-primary;
     }
   }
 }
  .rte-webpart {
    overflow: visible;
    .cke_editable {
      padding: 5px;
      a {
        color: $c-default;
        text-decoration: none;
        &:hover {

        }
      }

      table.cke_show_border {
        border:none !important;
        width: 100% !important;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        border-radius: 7px;
        margin: 10px 0;
        td:first-child {
          div {
            display: block;
          }
        }
        td:nth-child(2) {
          padding-left: 15px;
          padding-right: 15px;
        }
        td,tr,th {
          border:none !important;
          padding: 0;
          position: relative;
        }
        td a {
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: block;
          }
        }
        figure {
          position: relative;
          figcaption {
            position: absolute;
            bottom: 15%;
            width: 100%;
            font-weight: bold;
          }
        }
        p {
          margin: 0;
          br {
            display: none;
          }
        }
        div.cke_widget_wrapper {
          margin: 0 !important;
          padding: 0;
        }
        //table color border
        &.simpleTableStyleTheme {
          border-radius: 0;
          box-shadow: 0 0 5px rgba(0,0,0,0.2);
          div {
            width: 100%;
          }
          tr{
            &:first-child {
              td {
                padding-top: 30px;
              }
            }
            &:last-child {
              td {
                padding-bottom: 30px;
              }
            }
          }
          td {
            width: 100%;
            padding: 15px 30px;
          }
          figure {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .bx_aa_9f38462c.bz_aa_9f38462c {
    height: auto !important;
  }
  .a_a_50a7110f:not(.b_a_50a7110f) {
    margin: 4px 0;
  }
  .g_b_50a7110f {
    .a_c_50a7110f {
      .k_c_50a7110f {
        div[data-viewport-id="WebPart.PeopleWebPart.internal.c05be27e-257f-4590-af3f-472c6f58779b"] {
          background: url("https://dpdhl.sharepoint.com/:i:/r/teams/datafactory/SiteAssets/SitePages/HomeNew/bg.jfif?csf=1&web=1&e=gNvfNp") bottom center no-repeat;
          background-size: cover;
          margin: 0px -32px 0px -32px;
          padding: 100px 32px 0px 32px;
          color: #FFFFFF !important;
          span[role=heading] {
            font-size: 30px;
            text-shadow: 2px 2px  4px rgba(0,0,0,0.5);
          }
          .l_e_658c9e0a {
            margin-bottom: 4px;
          }
          .w_h_a3a8085b,
          .x_h_a3a8085b,
          .root-40,
          span,
          a {
            color: #FFFFFF !important;
          }
        }
      }
    }
  }
}