$c-primary: #d40511;
$c-secondary: #ffcc00;
$c-default: rgb(50, 49, 48);
.custom-styles {
 h2 {
   a {
     color: rgb(50, 49, 48);
     text-decoration: none;
     &:hover {
       color: $c-primary;
     }
   }
 }
  .rte-webpart {
    .cke_editable {
      a {
        color: $c-default;
        text-decoration: none;
        &:hover {

        }
      }
    }
  }
  .bx_aa_9f38462c.bz_aa_9f38462c {
    height: auto !important;
  }
  .a_a_50a7110f:not(.b_a_50a7110f) {
    margin: 4px 0;
  }
}